/* Page styling */

:root {
    --panel: rgba(255, 255, 255, 0.65);
    --accent: royalblue;
    --background: rgb(0, 10, 39);
    --white-ish: whitesmoke;
    --error: darkred;
}

body {
    /* system font stack */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 250px calc(100vw - 250px);
    grid-template-rows: 110px calc(100vh - 110px - 62px) 62px;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
}

/* Scrollbar styling */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
    border: 1px solid rgb(20, 20, 20, 0.2);
}

::-webkit-scrollbar-thumb {
    /* background: var(--menu-color);  */
    background: rgb(20, 20, 20, 0.25);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:active {
    border: 1px solid rgb(20, 20, 20, 0.2);
}

/* General styling */

h1 {
    font-size: 2em;
    font-weight: bolder;
}

h2 {
    font-size: 1.15em;
    font-weight: 500;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

.hidden {
    display: none;
}

#hidden {
    display: none;
}

#showBlock {
    display: block;
}

/* Header styling */

.logo {
    max-height: 90%;
    margin-right: 8px;
    /* whitesmoke color */
    filter: invert(100%) sepia(0%) saturate(7480%) hue-rotate(201deg)
        brightness(107%) contrast(92%);
}

header {
    grid-column: 1 / -1;
    color: var(--white-ish);
    padding: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

/* Menu styling */

.menu {
    background-color: var(--panel);
    border-radius: 1rem;
    margin-left: 0.5rem;
}

.menu > ul.watchlist {
    margin-top: 20px;
}

.icon {
    height: 1.2rem;
}

.watchlist {
    list-style: none;
    padding: 0;
}

.watchlist > li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.watchlistHeader {
    font-weight: 700;
    font-size: 1.3rem;
}

.watchlist li,
.watchlistHeader,
.addLocationBtn,
.addLocationForm {
    margin: 10px 1rem;
    padding: 8px;
    border-radius: 8px;
}

#watchlist {
    max-height: 80%;
    overflow: auto;
}

.watchlist li:hover,
.addLocationBtn:hover {
    background-color: rgb(245, 245, 245, 0.3);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.watchlist li:active,
.addLocationBtn:active {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
}

li.selected {
    background-color: rgb(245, 245, 245, 0.3);
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
}

.deleteItem {
    margin-left: auto;
}

.deleteItem:hover {
    filter: invert(7%) sepia(51%) saturate(5951%) hue-rotate(350deg)
        brightness(140%) contrast(136%);
}

/* Form styling */

.addLocationForm {
    padding: 0;
}

.formRow {
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

#formButtons {
    margin-top: 8px;
}

.newLocationInput {
    padding: 6px;
    font-size: 1.2rem;
    width: 100%;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

.addBtn,
.cancelBtn {
    padding: 8px;
    width: 50%;
    border-radius: 8px;
    font-size: 1.1rem;
    color: var(--white-ish);
    font-weight: 550;
}

.addBtn {
    background-color: var(--accent);
    border: 2px solid hsl(225, 73%, 30%);
}

.cancelBtn {
    background-color: mediumvioletred;
    border: 2px solid hsl(322, 81%, 30%);
}

.addBtn:hover,
.cancelBtn:hover {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.addBtn:active,
.cancelBtn:active {
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.4);
}

.newProjErrorContainer {
    color: var(--error);
    font-size: 1.1rem;
    text-align: center;
    padding: 8px;
}

/* Content styling */

.content {
    margin: 0 0.5rem;
    font-size: 1.2rem;
    max-width: 1000px;
    box-sizing: border-box;
    overflow: auto;
}

.WeatherAPIContainter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 0rem;
    background-color: var(--panel);
    border-radius: 1rem;
    height: 100%;
}

.forecastContainer {
    max-width: 95%;
}

.forecastTable {
    display: flex;
}

.forecastRow {
    display: flex;
    gap: 0.5rem;
    /* overflow-y: hidden; */
    min-height: 170px;
    /* enable horizontal scroll */
    overflow-x: scroll;
}

/* hide scrollbar, retain function */
/* .forecastRow::-webkit-scrollbar { */
/* display: none; */
/* } */

.forecastCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    min-width: 150px;
    height: 100%;
    /* min-width: max-content; */
}

/* Footer styling */

footer {
    grid-column: 1 / -1;
    /* background-color: var(--background-color); */
    color: var(--white-ish);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
}

footer > a {
    display: flex;
}

.github {
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.github:hover {
    transform: rotate(-360deg) scale(1.2);
}
